<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>

    <!--Console Appender-->
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%highlight{[%-5level]}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue TRACE=gray} %d{HH:mm:ss.SSS} %replace{[%t]}{\[main\]}{} %style{%c{1}}{bright} - %msg %throwable{short}%n"/>
    </Console>

  </Appenders>

  <Loggers>
    <Root level="warn">
      <AppenderRef ref="console"/>
    </Root>
    <Logger name="beadgame.combat.Combat" level="info" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Logger name="beadgame.actor.Actor" level="warn" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
  </Loggers>

</Configuration>
